cftime
fv3dataset @ git+https://github.com/spencerkclark/fv3dataset.git@4dcd7ec9b8b3cbe2eac8d64d8a553eca97bb0270
h5py
kerchunk
netCDF4
pytest
scipy
snakemake
snakemake-executor-plugin-cluster-generic
xpartition
xtorch_harmonics @ git+https://github.com/ai2cm/fv3net.git@68e4f378e933a9d90af9268a4f330cd6fc308e7d#egg=xtorch_harmonics&subdirectory=external/xtorch_harmonics
